echo "##### POSTSYNC BEGIN #####"

# IP-Adresse des Server
SERVERIP=10.16.1.1

# Raum feststellen. Dieses Skript geht davon aus
# dass die Rechner Namen der Form
# raumname-hostname haben, also z.B. cr01-pc18
RAUM="${HOSTNAME}"
{% if epoptes__room_prefix|d() %}
RAUM="${RAUM#{{ epoptes__room_prefix }}}"
{% endif %}
{% if epoptes__room_suffix|d() %}
RAUM="${RAUM%{{ epoptes__room_suffix }}}"
{% endif %}
# wenn der string leer ist, raum auf unknown setzen
if [ "x${RAUM}" == "x" ]; then
    RAUM="unknown"
fi

# Das Verzeichnis, in dem die Serverpatches
# local synchronisiert werden.
PATCHCACHE=/linuxmuster-client
# UVZ auf dem Server. Mit diesem Variablen kann
# man verschiedene Images bedienen (was bei linux
# selten nötig ist)
PATCHCLASS="{{ epoptes__postsync_image_name }}"

echo ""
echo "Hostname:      ${HOSTNAME}"
echo "Raum:          ${RAUM}"
echo "Patchcache:    ${PATCHCACHE}"
echo "Patchclass:    ${PATCHCLASS}"
echo ""

# -----------------------------------------
# Patchdateien auf das lokale Image rsyncen
# -----------------------------------------
echo " - getting patchfiles"

# RAUM     -> Raumname
# HOSTNAME -> Rechnername
# Verzeichnis anlegen, damit es sicher existiert
mkdir -p /cache/${PATCHCACHE}
rsync --progress --delete -r "${SERVERIP}::linbo/linuxmuster-client/${PATCHCLASS}" "/cache/${PATCHCACHE}"

echo " - patching local files"
# zuerst alles in common
if [ -d /cache/${PATCHCACHE}/${PATCHCLASS}/common ]; then
    cp -ar /cache/${PATCHCACHE}/${PATCHCLASS}/common/* /mnt/
fi

case "$HOSTNAME" in
{% for room, room_def in epoptes__rooms | dictsort  %}
    {{ room_def.room_prefix|d(epoptes__room_prefix) }}{{ room_def.hostname_prefix|d(room) }}{{ room_def.room_suffix|d(epoptes__room_suffix) }})
        case "$HOSTNAME" in
{% for teacher in room_def.teachers %}
            "{{ teacher }}")
                src_path="/cache/${PATCHCACHE}/${PATCHCLASS}/{{ room }}_teacher"
                ln -sf '{{ epoptes__client_key_dir }}/server.key' /mnt/etc/epoptes/server.key
                ln -sf '{{ epoptes__client_key_dir }}/server.crt' /mnt/etc/epoptes/server.crt
                ;;
{% endfor %}
{% if room_def.students is defined and room_def.students is iterable %}
{% for student in room_def.students %}
            "{{ student }}")
                src_path="/cache/${PATCHCACHE}/${PATCHCLASS}/{{ room }}_student"
                ;;
{% endfor %}
{% else %}
            *)
                src_path="/cache/${PATCHCACHE}/${PATCHCLASS}/{{ room }}_student"
                ;;
{% endif %}
        esac
        ;;
{% endfor %}
esac

if [ -d "${src_path}" ]; then
    echo "Copy over ${src_path} …"
    cp -ar ${src_path}/* /mnt/

    ## There is no verbose option …
    # -a      Same as -dpR
    # -d,-P   Preserve links
    # -H,-L   Dereference all symlinks (default)
    # -p      Preserve file attributes if possible
    # -f      Force overwrite
    # -i      Prompt before overwrite
    # -R,-r   Recurse directories
    # -l,-s   Create (sym)links
fi

# dann raumspezifisch
if [ -d "/cache/${PATCHCACHE}/${PATCHCLASS}/${RAUM}" ]; then
    cp -ar /cache/${PATCHCACHE}/${PATCHCLASS}/${RAUM}/* /mnt/
fi

# dann rechnerspezifisch
if [ -d /cache/${PATCHCACHE}/${PATCHCLASS}/${HOSTNAME} ]; then
    cp -ar /cache/${PATCHCACHE}/${PATCHCLASS}/${HOSTNAME}/* /mnt/
fi

# -----------------------------------
# Sonstige Aktionen
# -----------------------------------

# echo " - special postsync actions"

# # hostname in /etc/hosts patchen
# sed -i "s/HOSTNAME/$HOSTNAME/g" /mnt/etc/hosts
# sed -i "s/#SERVERIP/$SERVERIP/g" /mnt/etc/hosts

# # fstab anpassen, damit Swap-Partition stimmt
# SWAP=$(sed ':a;N;$!ba;s/\n/;UMBRUCH;/g' $STARTCONF | sed 's/ //g'|sed 's/\[Partition\]/\n/g' | grep -i 'fstype=swap' | sed 's/;UMBRUCH;/\n/g' | grep -i 'dev=/' | cut -d'=' -f2 | head -c9)
# echo "$SWAP"
# sed -i "s#\#dummyswap#$SWAP#g" /mnt/etc/fstab

# -----------------------------------
# Berechtigungen anpassen, wenn nötig
# -----------------------------------

echo " - setting permissions of patched local files"

# printers.conf
# [ -f /mnt/etc/cups/printers.conf ] && chmod 600 /mnt/etc/cups/printers.conf

# .ssh verzeichnis
# chmod 700 /mnt/root/.ssh/
# chmod 600 /mnt/root/.ssh/authorized_keys

# Besitzverhältnisse für linuxadmin (hier GID 1000; ggf. anpassen) reparieren
# chown -R 1000:1000 /mnt/home/linuxadmin

echo "##### POSTSYNC END #####"
