## {{ ansible_managed }}

[Desktop Entry]
Name={{ linuxmuster_net_server_epoptes_master_name }}
Comment=Epoptes computer lab administration tool
TryExec=/usr/bin/epoptes
Exec=/usr/bin/epoptes
Icon=epoptes
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
X-Ubuntu-Gettext-Domain=epoptes
